.body-bg {
    background-color: black;
}

.title-1 {
color: white;
}

.title-6 {
    color: yellow
}

.text {
    color:white
}
.img {
    height: 500px;
}
.body-bg2{
    background-color: chocolate;
}

.text-2 {
    color: white;
}
.text-3 {
    color: white
}

.h2 {
    color: white
}
.br {
    color: white;
}
.imige-2 {
    height: 400px;
}